.vinyl-item > img {
    height: 250px;
    width: 250px;
}

.quantity {
    display: flex;
    gap: 20px;
}

.quantity > div {
    display: flex;
    justify-content: space-between;
    width: 80px;
}